{% extends 'registry/base.html' %}
{% block title %}About The Registry{% endblock %}
{% block head %}
	<style type="text/css">
	</style>
{% endblock %}
{% block content %}
<h2 class="h2Left">About This Site</h2>
<p>
	If you're reading this page, you probably already know about the 1984 - 1986 Ford Mustang SVO. It was a rare
	high performance Mustang that used a turbocharged 4 cylinder engine and a host of other high performance
	features that were unusual to find in an American car. Fewer than 10,000 were built, which is only 2% of all
	Mustangs in that time period. Needless to say, the SVO is a pretty rare car today.
</p>
<p>
	SVOregistry.com was built as a way for owners, potential owners, and other SVO enthusiasts to read about
	the history of each SVO. As the registry grows, SVO enthusiasts can track any SVO through time to read the
	history of the car as it has changed hands over the years.
</p>
<h2 class="h2Left">Values</h2>
<p>
	An automotive registry is useless if no one has access to it. Unlike some registries, the information contained
	on SVOregistry.com is free and available to anyone. You can even download entire copies of the 
	registry to your computer. We believe information should be shared, not hoarded or sold.
</p>
<p>
	SVOregistry.com caters to the SVO enthusiast who wants to see the Mustang SVO preserved for future generations.
	Any registry entry that appears to be a for-sale ad to part out a good car may be edited without notice. Each
	registry entry has a link on it which allows users to flag an entry as inappropriate. If an entry receives
	enough flags, it will be reviewed and appropriate action will be taken. If your personal information was
	posted without your permission, feel free to email webmaster@svoregistry.com.
</p>
{% endblock %}