{% extends 'registry/base.html' %}
{% block title %}Save an SVO{% endblock %}
{% block head %}
	<style type="text/css">
		#ulCarsToFix {
			margin-left: 0;
			padding-left: 0;
		}
		#ulCarsToFix li {
			margin-bottom: 15px;
			margin-left: 0;
			padding-left: 0;
			list-style: none;
		}
	</style>
	<script src="{{ STATIC_URL }}js/common.js"></script>
	<script src="{{ STATIC_URL }}js/car_listitem.js"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			var json = {{ json|safe }};
			var divContainer = document.getElementById("divContainer");
			if(json.length == 0) {
			
			}
			else {
				
				for(count in json) {
					var div = getCarListItem(json[count], true, false, false, false);
					divContainer.appendChild(div);
				}
			}
		});
	</script>
	
{% endblock %}
{% block content %}

<h2 class="h2Left">SVOs that need some love</h2>
<div id="divContainer"></div>
<noscript>
	<p>You must enable JavaScript to view this list of cars.</p>
</noscript>
{% endblock %}
